@font-face {
   font-family: "Ubuntu";
   src: url("./assets/fonts/Ubuntu-Regular.ttf");
   font-weight: normal;
   font-size: normal;
}

@font-face {
   font-family: "Ubuntu";
   src: url("./assets/fonts/Ubuntu-Bold.ttf");
   font-weight: bold;
   font-size: normal;
}


@keyframes background {
   0% {
      top: -100px;
      left: -10%;
   }

   100% {
      top: 0%;
      left: -20%;
   }
}


* {
   font-family: "Ubuntu";
}


a:link, a:visited {
   color: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
   text-decoration: none;
}


a:hover {
   text-decoration: underline;
}


body {
   height: 100%;
   margin: 0 auto;
   overflow: hidden;
}


#backgrounds img {
   width: 150%;
   position: absolute;
   opacity: 0;
   animation: fader 48s linear infinite, "background" 12s linear infinite;
}


#backgrounds img:nth-child(1) { animation-delay:  0s; }
#backgrounds img:nth-child(2) { animation-delay:  8s; }
#backgrounds img:nth-child(3) { animation-delay: 16s; }
#backgrounds img:nth-child(4) { animation-delay: 24s; }
#backgrounds img:nth-child(5) { animation-delay: 32s; }
#backgrounds img:nth-child(6) { animation-delay: 40s; }


@keyframes fader {
   0% { opacity: 0; } 
   02.08% { opacity: 0; }
   04.16% { opacity: 0; }
   06.24% { opacity: 1; }
   08.32% { opacity: 1; }
   10.40% { opacity: 1; }
   12.48% { opacity: 1; }
   14.56% { opacity: 1; }
   16.64% { opacity: 1; }
   18.72% { opacity: 1; }
   20.80% { opacity: 1; }
   22.88% { opacity: 0; }
   100% { opacity: 0; }
}


.centre {
   align-items: center;
   justify-content: center;
   position: absolute;

   display: flex;
   flex-direction: column;

   height: 100%;
   width: 99%;
   top: 0;
}


.box {
   background-color: #e6e6e6;
   border: 5px solid #e6e6e6;
   border-radius: 5px;

   padding: 6px 10px;
   
   box-shadow: -5px 10px #808080;
}


.box #avatar {
   border-radius: 10px;
   display: inline-block;
   vertical-align: top;

   min-width: 64px;
   max-width: 128px;

   margin-right: 10px;
   margin-top: .5%;
}


.box .name {
   text-align: left;
   display: inline-block;
   word-wrap: break-word;
   margin-top: -2%;
}

.box .socials {
   text-align: left;
   display: flex;
   justify-content: space-evenly;
}


spoiler {
   content: "";
   background-image: url("./assets/backgrounds/spoiler.gif");
   border-radius: 5px;
   opacity: 50%;
}


spoiler:hover, spoiler:active {
   background-image: none;
   background-color: #cccccc;
   border-radius: 5px;
   opacity: 100%;
}


.meta p img {
   vertical-align: middle;
}


.socials img {
   opacity: 100%;
   transition: 1s;
}


.socials img:hover {
   opacity: 60%;
   transition: 1s;
}


.tabs {
   display: flex;
   justify-content: space-evenly;
   margin-top: 15px;
   gap: 10px;
}


.tabs > a {
   background-color: #e6e6e6;

   width: 150px;
   height: 50px;
   
   text-decoration: none;
   color: inherit;
   text-align: center;

   border-radius: 5px;
   padding: 1px;
}


.tabs a {
   background-color: #e6e6e6;
   transition: 3s;
   box-shadow: -5px 10px #808080;
}


.tabs a:hover {
   background-color: #808080;
   transition: 3s;
   box-shadow: -5px 10px #e6e6e6;
}


.attribution {
   margin-top: 15px;

   font-size: 9px;
   color: #808080;

   background-color: #e6e6e6;
   opacity: 75%;

   border-radius: 5px;
   padding: 5px;
   
   box-shadow: -5px 10px #808080;
}


.attribution b i {
   font-size: 10px;
}


@media (max-width: 1280px) {
   /* .box #avatar {
      display: block;
      margin-right: auto;
      width: 100%;
   }    */
}
