@font-face {
   src: url("./assets/fonts/Ubuntu-Regular.ttf");
   font-family: "Ubuntu";
   font-weight: normal;
   font-size: normal;
}

@font-face {
   src: url("./assets/fonts/Ubuntu-Bold.ttf");
   font-family: "Ubuntu";
   font-weight: bold;
   font-size: normal;
}

@-webkit-keyframes background {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -1920px 1080px;
   }
}

@-moz-keyframes background {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -1920px 1080px;
   }
}

@-ms-keyframes background {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -1920px 1080px;
   }
}

@-o-keyframes background {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -1920px 1080px;
   }
}

@keyframes background {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -1920px 1080px;
   }
}


* {
   font-family: "Ubuntu";
}

body {
   background-image: url("./assets/backgrounds/background.png");
   background-repeat: repeat;
   -webkit-animation: background 150s linear infinite;
   -moz-animation:    background 150s linear infinite;
   -ms-animation:     background 150s linear infinite;
   -o-animation:      background 150s linear infinite;
   animation:         background 150s linear infinite;
}

h3 {
   font-size: 1.25em
}

li::marker {
   color: #808080;
}

a:link, a:visited {
   color: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}


.centre {
   height: 100%;
   width: 100%;
   top: none;
   margin: none auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.main {
   position: relative;
   background-color: #e6e6e6;
   max-width: 750px;
}

.empty {
   padding: 10px;
}

.corner-border {
   padding: 12px 20px 20px 12px;
   --b: 7.5px;
   --c: #606060;
   --w: 25px;
   border: var(--b) solid #0000;
   --_g: #0000 90deg,var(--c) 0;
   --_p: var(--w) var(--w) border-box no-repeat;
   background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.corner-border-image {
   padding: 12px 150px 20px 12px;
   --b: 7.5px;
   --c: #606060;
   --w: 25px;
   border: var(--b) solid #0000;
   --_g: #0000 90deg,var(--c) 0;
   --_p: var(--w) var(--w) border-box no-repeat;
   background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.avatar {
   display: inline-block;
   vertical-align: top;
   width: 128px;
   top: 0px;
   right: 0px;
   margin-right: 3%;
   margin-top: 3%;
   position: absolute;
   --b: 5px;
   --c: #606060;
   --w: 15px;
   border: var(--b) solid #0000;
   --_g: #0000 90deg,var(--c) 0;
   --_p: var(--w) var(--w) border-box no-repeat;
   background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.socials {
   display: flex;
   justify-content: space-evenly;
   text-align: left;
   margin: auto -138px auto auto;
}

.socials img {
   height: 32px;
   width: 32px;
}

.socials img:hover {
   filter: brightness(0.9)
}

.emoji {
   height: 1.25em;
   width: auto;
   vertical-align: middle;
}

.buttons .corner-border {
   position: relative;
   display: inline-block;
   padding: 9px 0 8px 0;
   --b: 5px;
   --c: #606060;
   --w: 10px;
   border: var(--b) solid #0000;
   --_g: #0000 90deg, var(--c) 0;
   --_p: var(--w) var(--w) border-box no-repeat;
   background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.buttons .button {
   background-color: #e6e6e6;
   cursor: pointer;
   color: black;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   padding: 10px 16px;
   display: inline;
   border: none;
   position: relative;
}

.buttons .button:hover {
   filter: brightness(0.9);
}

.buttons button {
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   padding: 10px 16px;
   display: inline;
   border: none;
   position: relative;
}

.buttons button:hover {
   filter: brightness(0.9);
}